// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap-vue
@import '~bootstrap-vue/src/index';

// Datetime picker
@import "~vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css";

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    opacity: 0.7;
  }
}

a {
  color: $main-font-color;
  &:hover, &:visited {
    text-decoration: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1.5s;
}
